### Import section

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import seaborn as sns
import scipy as sp

sns.set()
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.pipeline import Pipeline
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import Normalizer, LabelEncoder, StandardScaler, MinMaxScaler, MaxAbsScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [6]:
storeFirstDataframe = pd.read_csv('./rawData/data_prueba_Forecasting.csv')

In [10]:
storeFirstDataframe.head(100)

,Unnamed: 0,Formato,Subformato,Tienda,Producto,id_fec_diaria,Venta,Precio,Venta_aa,Precio_aa
0,0,Super,Basico,1,369772,2021-08-01,7.000000,17.168571,5.000000,21.063200
1,1,Super,Basico,1,369772,2021-08-02,6.000000,17.141667,3.000000,21.388667
2,2,Super,Basico,1,369772,2021-08-03,5.000000,17.136000,5.000000,21.376199
3,3,Super,Basico,1,369772,2021-08-04,4.000000,16.995000,3.000000,21.360367
4,4,Super,Basico,1,369772,2021-08-05,1.000000,17.240000,1.000000,21.397100
...,...,...,...,...,...,...,...,...,...,...
95,18,Hiper,Plus,1,303923,2021-08-19,54.124001,112.441242,36.127999,94.703066
96,19,Hiper,Plus,1,303923,2021-08-20,49.636001,112.436133,40.871000,95.028258
97,20,Hiper,Plus,1,303923,2021-08-21,82.614000,112.669526,64.603002,94.451203
98,21,Hiper,Plus,1,303923,2021-08-22,97.948002,112.506122,85.565998,94.756450
99,22,Hiper,Plus,1,303923,2021-08-23,80.686002,112.906327,93.803000,94.868902

In [8]:
storeFirstDataframe.tail()

,Unnamed: 0,Formato,Subformato,Tienda,Producto,id_fec_diaria,Venta,Precio,Venta_aa,Precio_aa
426372,87,Super,Plus,1,2098857,2021-10-27,8.0,27.003750,16.0,20.083056
426373,88,Super,Plus,1,2098857,2021-10-28,18.0,26.911667,22.0,20.121114
426374,89,Super,Plus,1,2098857,2021-10-29,13.0,24.463077,20.0,18.967170
426375,90,Super,Plus,1,2098857,2021-10-30,17.0,25.404118,37.0,18.206573
426376,91,Super,Plus,1,2098857,2021-10-31,23.0,23.815652,24.0,18.436345